*{
    margin: 0%;
    padding: 0%;
    font-size: 20px;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
align-items: center;
}
.cal{
    display: grid;
    grid-template-columns: repeat(4,80px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 12px grey,
                      5px 5px 12px black;
    

    
}
input{
    grid-column: span 4;
    padding-top: 50px;
    outline: none;
    border: none;
    box-shadow: inset 10px 10px 5px gray;
    outline: none;
   
        
    border-radius: 20px;
    text-align: end;
    font-size: 50px;
    padding-left: 16px;
    margin-right: 10px;
}
button{
    height: 40px;
    width: 70px;
   margin-top: 10px;
   box-shadow: inset 5px 8px 12px gray;
   outline: none;
   border: none;
   border-radius: 10px;

}
